@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Carousel" />
<div class="text-center">
    
    <bold class="text-bold text-decoration-underline display-4">Welcome!!</bold><br />
                           <bold>Your Book Paradise</bold><br /> <br/>


    <p>

        Dive into the captivating world of literature, where stories come to life with every page you turn. Our BOOK LIBRARY is a sanctuary for book lovers, a place where you can explore a vast collection of literary treasures from timeless classics to contemporary bestsellers.

        Whether you're seeking adventure, romance, mystery, or knowledge, our LIBRARY is your gateway to endless possibilities. Discover the joy of losing yourself in a good book, one that can transport you to far-off lands, introduce you to unforgettable characters, and ignite your imagination.

        Browse through our carefully curated selection, find your next great read, and embark on a literary journey like no other. Your next adventure is just a click away. Welcome to a world of stories waiting to be explored.



    </p>
    <h1 class="display-2 py-4">Book-Haven</h1>
</div>
