@{
    ViewData["Title"] = "Books Overview";
}
<h1>@ViewData["Title"]</h1>

<p>We have a massive collection of books beyond your imaginations......</p>




<div class="row row-cols-1 row-cols-md-4 g-3">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img26.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Vampire Diaries</h5>
                <p class="card-text">A classic tale of wealth and decadence, "The Great Gatsby" transports readers to the roaring '20s, where Jay Gatsby's lavish parties mask a deep longing for lost love.</p>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card h-100">
            <img src="~/images/img19.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">The Mafia</h5>
                <p class="card-text">The first book in the beloved series introduces readers to the young wizard Harry Potter and his journey to Hogwarts School of Witchcraft and Wizardry.r.</p>
            </div>
        </div>
    </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/images/img19.jpg" class="card-img-top" alt="books">
                <div class="card-body">
                    <h5 class="card-title">The Mafia</h5>
                    <p class="card-text">The first book in the beloved series introduces readers to the young wizard Harry Potter and his journey to Hogwarts School of Witchcraft and Wizardry.r.</p>
                </div>
            </div>
        </div>


    <div class="col">
        <div class="card h-100">
            <img src="~/images/img10.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Classica Kingdon</h5>
                <p class="card-text">Scout Finch narrates the story of her father, Atticus, a lawyer who defends a black man wrongly accused of raping a white woman in the racially divided town of Maycomb.</p>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card h-100">
            <img src="~/images/img11.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Hunters Shadow</h5>
                <p class="card-text">A group of British boys stranded on a desert island attempts to establish order, but chaos and savagery gradually overtake their society..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img13.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Mine In Hell</h5>
                <p class="card-text">A winter caretaker's descent into madness at the isolated Overlook Hotel serves as the backdrop for supernatural horrors in this King classic. longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img14.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Meta Change</h5>
                <p class="card-text">a future world driven by technological and social control, the novel explores themes of conformity, individuality, and the pursuit of happiness.his content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img15.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Fallen Academy</h5>
                <p class="card-text">Orwell's dystopian masterpiece, "1984," warns of a totalitarian regime that crushes individuality and employs mind control to manipulate citizens in a bleak future..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img16.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Revelation</h5>
                <p class="card-text">This enduring romance follows the spirited Elizabeth Bennet as she navigates the societal norms and expectations of 19th-century England, ultimately finding love with Mr. Darcy.ger.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img17.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">
                    Beyond The Wall/h5>
                <p class="card-text">Bilbo Baggins embarks on a grand adventure, guided by a wizard and joined by a band of dwarves, to reclaim their homeland from the fearsome dragon, Sit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img18.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">A witch meets a vampire</h5>
                <p class="card-text">Bilbo Baggins embarks on a grand adventure, guided by a wizard and joined by a band of dwarves, to reclaim their homeland from the fearsome dragon, Sger.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img19.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">The Mafia and hid angels</h5>
                <p class="card-text">The first book in the beloved series introduces readers to the young wizard Harry Potter and his journey to Hogwarts School of Witchcraft and Wizardry.r.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img3.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Solstice</h5>
                <p class="card-text">Professor Robert Langdon is thrust into a whirlwind of cryptic puzzles and ancient secrets, exploring art, history, and religion in this thrilling novel..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img2.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Crimson Night</h5>
                <p class="card-text">Join Arthur Dent as he embarks on a cosmic adventure through space, guided by the zany and irreverent Hitchhiker's Guide..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img20.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Sun Touched</h5>
                <p class="card-text">Investigative journalist Mikael Blomkvist teams up with enigmatic hacker Lisbeth Salander to solve a decades-old disappearance in this gripping mystery.his content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img21.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Ether witch </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img22.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Something Chosen</h5>
                <p class="card-text">In the first book of the "A Song of Ice and Fire" series, political intrigue and power struggles unfold in the land of Westeros.his content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img25.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Blood Child</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="~/images/img26.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Vampires Diary</h5>
                <p class="card-text">A classic tale of wealth and decadence, "The Great Gatsby" transports readers to the roaring '20s, where Jay Gatsby's lavish parties mask a deep longing for lost love.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img23.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Prince Of Shadows </h5>
                <p class="card-text">Astronaut Mark Watney's resilience and resourcefulness are put to the test when he's left stranded on Mars, fighting to survive until rescue.er.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img3.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Solstice</h5>
                <p class="card-text">Professor Robert Langdon is thrust into a whirlwind of cryptic puzzles and ancient secrets, exploring art, history, and religion in this thrilling novel..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img24.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Romeo and juliet</h5>
                <p class="card-text">A father and son's harrowing journey through a post-apocalyptic world explores themes of survival, love, and humanity..</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img26.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vampire Diaries </h5>
                <p class="card-text">Katniss Everdeen, a brave and resourceful young woman, becomes a symbol of rebellion in a dystopian society where children fight to the death in the annual Hunger Games.nt.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img10.jpg" class="card-img-top" alt="books">
            <div class="card-body">
                <h5 class="card-title">Classica Kingdon</h5>
                <p class="card-text">Scout Finch narrates the story of her father, Atticus, a lawyer who defends a black man wrongly accused of raping a white woman in the racially divided town of Maycomb.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/img27.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">On The Blood Journey</h5>
                <p class="card-text">Astronaut Mark Watney's resilience and resourcefulness are put to the test when he's left stranded on Mars, fighting to survive until rescue.ger.</p>
            </div>
        </div>
    </div>
</div>